[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ray = { version = "*", extras = [ "default" ] }
flatbuffers = "*"
dataclasses = "*"
codeflare = "*"
pickle5 = "*"
lale = "*"
tensorflow = "==2.6.3"
horovod = {version = "==0.21.3", extras = ["ray"]}
keras = "*"
scikit-learn = "*"
dask = {version = "==2021.2.0", extras = ["array", "dataframe"]}
toolz = "*"
pandas = "*"
scipy = "*"
xgboost = "*"
xgboost-ray = "*"
Cython = "*"

ipywidgets = ">=7.5.0"
boto3 = "==1.17.11"
jupyterlab-git = "==0.30.0"
jupyterlab-s3-browser = "==0.10.1"
matplotlib = "*"
s3fs = "==0.3.4"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
